{% load static %}
<html>

<head>
  <title>main</title>
</head>

<body>
  <h2>Hello</h2>
  <a href="/hello/home?first=Sanghun&second=Oh" class="">/hello/home?first=Sanghun&second=Oh</a>
  <a href="/hello/form" class="">/hello/form/</a>
  <a href="/hello/template" class="">/hello/template/</a>
  <a href="/hello/templatefromsite" class="">/hello/templatefromsite/</a>
  <h2>DB manage</h2>
  <a href="/dbmanage" class="">/dbmanage</a>
  <a href="/dbmanage/list/" class="">/dbmanage/list/</a>
  <h2>admin</h2>
  <a href="admin/" class="">admin/</a>
</body>

</html>