<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>title</th>
                <th>links</th>
            </tr>
        </thead>
        <tbody>
            {% for row in page_obj.0 %}
            <tr>
                <td>{{row.title}}</td>
                <td>{{row.link}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul class="pagination">
        {% if page_obj.0.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.0.previous_page_number }}">Previous</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="#">Page {{ page_obj.0.number }} of
                {{ page_obj.0.paginator.num_pages }}</a></li>
        {% if page_obj.0.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.0.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.0.paginator.num_pages }}">last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>