<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
<body>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/home" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Logo</a>
  <a href="/analytics/read" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a href="#" class="w3-bar-item w3-button">One new friend request</a>
      <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
      <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
    </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    <img src="/static/images/avatar2.png" class="w3-circle" style="height:28px;width:28px" alt="Avatar">
  </a>
 </div>
</div>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  <h4>효과적인 수업 평가 맞춤 솔루션</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">문제 출제 자동화</h1>
    <div class="w3-padding-32">
      <form action='/home'>
      <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">딥러닝 적용 기술</button>
      </form>
    </div>
  </div>
</header>

<!-- Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="w3-container w3-theme-l1"> 
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">×</span>
        <h4>Oh snap! We just showed you a modal..</h4>
        <h5>Because we can <i class="fa fa-smile-o"></i></h5>
      </header>
      <div class="w3-padding">
        <p>Cool huh? Ok, enough teasing around..</p>
        <p>Go to our <a class="w3-btn" href="/w3css/default.asp">W3.CSS Tutorial</a> to learn more!</p>
      </div>
      <footer class="w3-container w3-theme-l1">
        <p>Modal footer</p>
      </footer>
    </div>
</div>

<script> 
Dropzone.options.myDropzone = {
  init: function() {
    var myDropzone = this;
    this.on("addedfiles", function(files) {
      console.log(files.length + ' files added');
      setTimeout(() => {  document.getElementById("myDropzone").submit(); }, 2500);
      });
  }
};
</script>

<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>선택형</h3><br>
  <i class="fa fa-check-square-o w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p><input class="w3-input w3-border" type="text" placeholder="원하는 문항 갯수 입력"></p>
  <p><form action="/makequestion/read" class="dropzone">{% csrf_token %}</form></p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>기술형</h3><br>
  <i class="fa fa-edit w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p><input class="w3-input w3-border" type="text" placeholder="원하는 문항 갯수 입력"></p>
  <p><form action="/makequestion/read" class="dropzone" id="myDropzone">{% csrf_token %}</form></p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>만족도 조사형</h3><br>
  <i class="fa fa-bullhorn w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p><input class="w3-input w3-border" type="text" placeholder="원하는 문항 갯수 입력"></p>
  <p><form action="/makequestion/read" class="dropzone">{% csrf_token %}</form></p>
  </div>
</div>
</div>

<div class="w3-container">
<hr>
</body>
</html>
