<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <td>Name</td>
        <td>Main Folder</td>
        <td>html URI</td>
        <td>Desc</td>
      </tr>
      <tr>
        <td>index</td>
        <td>hello</td>
        <td>
          <a href="">index.html</a>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>hello</td>
        <td>hello</td>
        <td>
          <a href="hello">hello</a>
        </td>
        <td>with HttpResponse</td>
      </tr>
      <tr>
        <td>css home</td>
        <td>hello</td>
        <td>
          <a href="home">home.html</a>
        </td>
        <td>css with w3school bootstrap</td>
      </tr>
      <tr>
        <td>response with html</td>
        <td>hello</td>
        <td>
          <a href="hello/responsewithhtml/?first=Jane&second=Kim"
            >params with url</a
          >
          <a href="hello/requestform/">input params</a>
        </td>
        <td>method GET with params or not</td>
      </tr>
      <tr>
        <td>requestform</td>
        <td>hello</td>
        <td>
          <a href="hello/requestform/">requestform.html</a>
        </td>
        <td>request params with responsewithhtml</td>
      </tr>
      <tr>
        <td>responsewithservice</td>
        <td>hello</td>
        <td>
          <a href="hello/responsewithservice/?firstvalue=5&secondvalue=10"
            >params with url</a
          >,
          <a href="hello/requestform/">input params</a>
        </td>
        <td>calculate two number</td>
      </tr>
      <tr>
        <td>w3school bootstrap</td>
        <td>hello</td>
        <td>
          <a href="hello/template/">template.html</a>
        </td>
        <td>with css file</td>
      </tr>
      <tr>
        <td>response deeplearning</td>
        <td>hello</td>
        <td>
          <a href="hello/responsedeeplearning/?x1=0&x2=1">params with url</a>
          <a href="hello/requestform/">input params</a>
        </td>
        <td>predict by leared model</td>
      </tr>
      <tr>
        <td>index</td>
        <td>hello</td>
        <td>
          <a href="">Edit</a>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>index</td>
        <td>hello</td>
        <td>
          <a href="">Edit</a>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>index</td>
        <td>hello</td>
        <td>
          <a href="">Edit</a>
        </td>
        <td></td>
      </tr>
    </table>
    <tr>
      <td>index</td>
      <td>hello</td>
      <td>
        <a href="">None</a>
      </td>
      <td></td>
    </tr>
  </body>
</html>
