<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Basic with request and response</h3>
    <table border="1">
      <thead>
        <tr>
          <td>Name</td>
          <td>Main Folder</td>
          <td>html URI</td>
          <td>Desc</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>index</td>
          <td>hello</td>
          <td>
            <a href="">index.html</a>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>hello</td>
          <td>hello</td>
          <td>
            <a href="hello">hello</a>
          </td>
          <td>with HttpResponse</td>
        </tr>
        <tr>
          <td>css home</td>
          <td>hello</td>
          <td>
            <a href="home">home.html</a>
          </td>
          <td>css with w3school bootstrap</td>
        </tr>
        <tr>
          <td>response with html</td>
          <td>hello</td>
          <td>
            <a href="hello/responsewithhtml/?first=Jane&second=Kim"
              >params with url</a
            >
            <a href="hello/requestform/">input params</a>
          </td>
          <td>method GET with params or not</td>
        </tr>
        <tr>
          <td>requestform</td>
          <td>hello</td>
          <td>
            <a href="hello/requestform/">requestform.html</a>
          </td>
          <td>request params with responsewithhtml</td>
        </tr>
        <tr>
          <td>responsewithservice</td>
          <td>hello</td>
          <td>
            <a href="hello/responsewithservice/?firstvalue=5&secondvalue=10"
              >params with url</a
            >,
            <a href="hello/requestform/">input params</a>
          </td>
          <td>calculate two number</td>
        </tr>
        <tr>
          <td>w3school bootstrap</td>
          <td>hello</td>
          <td>
            <a href="hello/template/">template.html</a>
          </td>
          <td>with css file</td>
        </tr>
        <tr>
          <td>response deeplearning</td>
          <td>hello</td>
          <td>
            <a href="hello/responsedeeplearning/?x1=0&x2=1">params with url</a>
            <a href="hello/requestform/">input params</a>
          </td>
          <td>predict by leared model</td>
        </tr>
      </tbody>
    </table>

    <h3>board</h3>
    <table border="1">
      <thead>
        <tr>
          <td>Name</td>
          <td>Main Folder</td>
          <td>html URI</td>
          <td>Desc</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>list with sqlite</td>
          <td>board</td>
          <td>
            <a href="board/listwithrawquery/">listwithrawquery.html</a>
          </td>
          <td>list with sqlite by raw query</td>
        </tr>
        <tr>
          <td>list with paginator</td>
          <td>board</td>
          <td>
            <a href="board/listwithrawquerywithpaginator/"
              >listwithrawquerywithpaginator.html</a
            >
          </td>
          <td>list paginator with sqlite by raw query</td>
        </tr>
        <tr>
          <td>listwithmongo</td>
          <td>board</td>
          <td>
            <a href="board/listwithmongo/">listwithmongo.html</a>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>listwithmongowithpaginator/</td>
          <td>board</td>
          <td>
            <a href="board/listwithmongowithpaginator/"
              >listwithmongowithpaginator.html</a
            >
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <h3>with django platform</h3>
    <table border="1">
      <thead>
        <tr>
          <td>Name</td>
          <td>Main Folder</td>
          <td>html URI</td>
          <td>Desc</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>polls</td>
          <td>django</td>
          <td>
            <a href="polls/index">None</a>
          </td>
          <td>polls in django platform</td>
        </tr>
        <tr>
          <td>members/loginform</td>
          <td>members</td>
          <td>
            <a href="members/loginform">members/loginform</a>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>members/login</td>
          <td>members</td>
          <td>
            <a href="members/login">members/login</a>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>members/logout</td>
          <td>members</td>
          <td>
            <a href="members/logout">members/logout</a>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <h3>ETC</h3>
    <table border="1">
      <thead>
        <tr>
          <td>Name</td>
          <td>Main Folder</td>
          <td>html URI</td>
          <td>Desc</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>folium</td>
          <td>maps</td>
          <td>
            <a href="maps/showmapwithfolium">folium.html</a>
          </td>
          <td>maps</td>
        </tr>
        <tr>
          <td>plotly</td>
          <td>maps</td>
          <td>
            <a href="maps/showchartwithplotly">showchartwithplotly.html</a>
          </td>
          <td>graph</td>
        </tr>
        <tr>
          <td>livestream</td>
          <td>board</td>
          <td>
            <a href="livestreamview/livestreamwithcv2"
              >livestreamwithcv2.html</a
            >
          </td>
          <td>livestream opencv with camera</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
